/* columns */
	.column {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0.75rem; }

	.columns.is-mobile > .column.is-narrow {
		flex: none; }

	.columns.is-mobile > .column.is-full {
		flex: none;
		width: 100%; }

	.columns.is-mobile > .column.is-three-quarters {
		flex: none;
		width: 75%; }

	.columns.is-mobile > .column.is-two-thirds {
		flex: none;
		width: 66.6666%; }

	.columns.is-mobile > .column.is-half {
		flex: none;
		width: 50%; }

	.columns.is-mobile > .column.is-one-third {
		flex: none;
		width: 33.3333%; }

	.columns.is-mobile > .column.is-one-quarter {
		flex: none;
		width: 25%; }

	.columns.is-mobile > .column.is-offset-three-quarters {
		margin-left: 75%; }

	.columns.is-mobile > .column.is-offset-two-thirds {
		margin-left: 66.6666%; }

	.columns.is-mobile > .column.is-offset-half {
		margin-left: 50%; }

	.columns.is-mobile > .column.is-offset-one-third {
		margin-left: 33.3333%; }

	.columns.is-mobile > .column.is-offset-one-quarter {
		margin-left: 25%; }

	.columns.is-mobile > .column.is-1 {
		flex: none;
		width: 8.33333%; }

	.columns.is-mobile > .column.is-offset-1 {
		margin-left: 8.33333%; }

	.columns.is-mobile > .column.is-2 {
		flex: none;
		width: 16.66667%; }

	.columns.is-mobile > .column.is-offset-2 {
		margin-left: 16.66667%; }

	.columns.is-mobile > .column.is-3 {
		flex: none;
		width: 25%; }

	.columns.is-mobile > .column.is-offset-3 {
		margin-left: 25%; }

	.columns.is-mobile > .column.is-4 {
		flex: none;
		width: 33.33333%; }

	.columns.is-mobile > .column.is-offset-4 {
		margin-left: 33.33333%; }

	.columns.is-mobile > .column.is-5 {
		flex: none;
		width: 41.66667%; }

	.columns.is-mobile > .column.is-offset-5 {
		margin-left: 41.66667%; }

	.columns.is-mobile > .column.is-6 {
		flex: none;
		width: 50%; }

	.columns.is-mobile > .column.is-offset-6 {
		margin-left: 50%; }

	.columns.is-mobile > .column.is-7 {
		flex: none;
		width: 58.33333%; }

	.columns.is-mobile > .column.is-offset-7 {
		margin-left: 58.33333%; }

	.columns.is-mobile > .column.is-8 {
		flex: none;
		width: 66.66667%; }

	.columns.is-mobile > .column.is-offset-8 {
		margin-left: 66.66667%; }

	.columns.is-mobile > .column.is-9 {
		flex: none;
		width: 75%; }

	.columns.is-mobile > .column.is-offset-9 {
		margin-left: 75%; }

	.columns.is-mobile > .column.is-10 {
		flex: none;
		width: 83.33333%; }

	.columns.is-mobile > .column.is-offset-10 {
		margin-left: 83.33333%; }

	.columns.is-mobile > .column.is-11 {
		flex: none;
		width: 91.66667%; }

	.columns.is-mobile > .column.is-offset-11 {
		margin-left: 91.66667%; }

	.columns.is-mobile > .column.is-12 {
		flex: none;
		width: 100%; }

	.columns.is-mobile > .column.is-offset-12 {
		margin-left: 100%; }

	@media screen and (max-width: 768px) {
		.column.is-narrow-mobile {
		flex: none; }
		.column.is-full-mobile {
		flex: none;
		width: 100%; }
		.column.is-three-quarters-mobile {
		flex: none;
		width: 75%; }
		.column.is-two-thirds-mobile {
		flex: none;
		width: 66.6666%; }
		.column.is-half-mobile {
		flex: none;
		width: 50%; }
		.column.is-one-third-mobile {
		flex: none;
		width: 33.3333%; }
		.column.is-one-quarter-mobile {
		flex: none;
		width: 25%; }
		.column.is-offset-three-quarters-mobile {
		margin-left: 75%; }
		.column.is-offset-two-thirds-mobile {
		margin-left: 66.6666%; }
		.column.is-offset-half-mobile {
		margin-left: 50%; }
		.column.is-offset-one-third-mobile {
		margin-left: 33.3333%; }
		.column.is-offset-one-quarter-mobile {
		margin-left: 25%; }
		.column.is-1-mobile {
		flex: none;
		width: 8.33333%; }
		.column.is-offset-1-mobile {
		margin-left: 8.33333%; }
		.column.is-2-mobile {
		flex: none;
		width: 16.66667%; }
		.column.is-offset-2-mobile {
		margin-left: 16.66667%; }
		.column.is-3-mobile {
		flex: none;
		width: 25%; }
		.column.is-offset-3-mobile {
		margin-left: 25%; }
		.column.is-4-mobile {
		flex: none;
		width: 33.33333%; }
		.column.is-offset-4-mobile {
		margin-left: 33.33333%; }
		.column.is-5-mobile {
		flex: none;
		width: 41.66667%; }
		.column.is-offset-5-mobile {
		margin-left: 41.66667%; }
		.column.is-6-mobile {
		flex: none;
		width: 50%; }
		.column.is-offset-6-mobile {
		margin-left: 50%; }
		.column.is-7-mobile {
		flex: none;
		width: 58.33333%; }
		.column.is-offset-7-mobile {
		margin-left: 58.33333%; }
		.column.is-8-mobile {
		flex: none;
		width: 66.66667%; }
		.column.is-offset-8-mobile {
		margin-left: 66.66667%; }
		.column.is-9-mobile {
		flex: none;
		width: 75%; }
		.column.is-offset-9-mobile {
		margin-left: 75%; }
		.column.is-10-mobile {
		flex: none;
		width: 83.33333%; }
		.column.is-offset-10-mobile {
		margin-left: 83.33333%; }
		.column.is-11-mobile {
		flex: none;
		width: 91.66667%; }
		.column.is-offset-11-mobile {
		margin-left: 91.66667%; }
		.column.is-12-mobile {
		flex: none;
		width: 100%; }
		.column.is-offset-12-mobile {
		margin-left: 100%; } }

	@media screen and (min-width: 769px), print {
		.column.is-narrow, .column.is-narrow-tablet {
		flex: none; }
		.column.is-full, .column.is-full-tablet {
		flex: none;
		width: 100%; }
		.column.is-three-quarters, .column.is-three-quarters-tablet {
		flex: none;
		width: 75%; }
		.column.is-two-thirds, .column.is-two-thirds-tablet {
		flex: none;
		width: 66.6666%; }
		.column.is-half, .column.is-half-tablet {
		flex: none;
		width: 50%; }
		.column.is-one-third, .column.is-one-third-tablet {
		flex: none;
		width: 33.3333%; }
		.column.is-one-quarter, .column.is-one-quarter-tablet {
		flex: none;
		width: 25%; }
		.column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
		margin-left: 75%; }
		.column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
		margin-left: 66.6666%; }
		.column.is-offset-half, .column.is-offset-half-tablet {
		margin-left: 50%; }
		.column.is-offset-one-third, .column.is-offset-one-third-tablet {
		margin-left: 33.3333%; }
		.column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
		margin-left: 25%; }
		.column.is-1, .column.is-1-tablet {
		flex: none;
		width: 8.33333%; }
		.column.is-offset-1, .column.is-offset-1-tablet {
		margin-left: 8.33333%; }
		.column.is-2, .column.is-2-tablet {
		flex: none;
		width: 16.66667%; }
		.column.is-offset-2, .column.is-offset-2-tablet {
		margin-left: 16.66667%; }
		.column.is-3, .column.is-3-tablet {
		flex: none;
		width: 25%; }
		.column.is-offset-3, .column.is-offset-3-tablet {
		margin-left: 25%; }
		.column.is-4, .column.is-4-tablet {
		flex: none;
		width: 33.33333%; }
		.column.is-offset-4, .column.is-offset-4-tablet {
		margin-left: 33.33333%; }
		.column.is-5, .column.is-5-tablet {
		flex: none;
		width: 41.66667%; }
		.column.is-offset-5, .column.is-offset-5-tablet {
		margin-left: 41.66667%; }
		.column.is-6, .column.is-6-tablet {
		flex: none;
		width: 50%; }
		.column.is-offset-6, .column.is-offset-6-tablet {
		margin-left: 50%; }
		.column.is-7, .column.is-7-tablet {
		flex: none;
		width: 58.33333%; }
		.column.is-offset-7, .column.is-offset-7-tablet {
		margin-left: 58.33333%; }
		.column.is-8, .column.is-8-tablet {
		flex: none;
		width: 66.66667%; }
		.column.is-offset-8, .column.is-offset-8-tablet {
		margin-left: 66.66667%; }
		.column.is-9, .column.is-9-tablet {
		flex: none;
		width: 75%; }
		.column.is-offset-9, .column.is-offset-9-tablet {
		margin-left: 75%; }
		.column.is-10, .column.is-10-tablet {
		flex: none;
		width: 83.33333%; }
		.column.is-offset-10, .column.is-offset-10-tablet {
		margin-left: 83.33333%; }
		.column.is-11, .column.is-11-tablet {
		flex: none;
		width: 91.66667%; }
		.column.is-offset-11, .column.is-offset-11-tablet {
		margin-left: 91.66667%; }
		.column.is-12, .column.is-12-tablet {
		flex: none;
		width: 100%; }
		.column.is-offset-12, .column.is-offset-12-tablet {
		margin-left: 100%; } }

	@media screen and (min-width: 1000px) {
		.column.is-narrow-desktop {
		flex: none; }
		.column.is-full-desktop {
		flex: none;
		width: 100%; }
		.column.is-three-quarters-desktop {
		flex: none;
		width: 75%; }
		.column.is-two-thirds-desktop {
		flex: none;
		width: 66.6666%; }
		.column.is-half-desktop {
		flex: none;
		width: 50%; }
		.column.is-one-third-desktop {
		flex: none;
		width: 33.3333%; }
		.column.is-one-quarter-desktop {
		flex: none;
		width: 25%; }
		.column.is-offset-three-quarters-desktop {
		margin-left: 75%; }
		.column.is-offset-two-thirds-desktop {
		margin-left: 66.6666%; }
		.column.is-offset-half-desktop {
		margin-left: 50%; }
		.column.is-offset-one-third-desktop {
		margin-left: 33.3333%; }
		.column.is-offset-one-quarter-desktop {
		margin-left: 25%; }
		.column.is-1-desktop {
		flex: none;
		width: 8.33333%; }
		.column.is-offset-1-desktop {
		margin-left: 8.33333%; }
		.column.is-2-desktop {
		flex: none;
		width: 16.66667%; }
		.column.is-offset-2-desktop {
		margin-left: 16.66667%; }
		.column.is-3-desktop {
		flex: none;
		width: 25%; }
		.column.is-offset-3-desktop {
		margin-left: 25%; }
		.column.is-4-desktop {
		flex: none;
		width: 33.33333%; }
		.column.is-offset-4-desktop {
		margin-left: 33.33333%; }
		.column.is-5-desktop {
		flex: none;
		width: 41.66667%; }
		.column.is-offset-5-desktop {
		margin-left: 41.66667%; }
		.column.is-6-desktop {
		flex: none;
		width: 50%; }
		.column.is-offset-6-desktop {
		margin-left: 50%; }
		.column.is-7-desktop {
		flex: none;
		width: 58.33333%; }
		.column.is-offset-7-desktop {
		margin-left: 58.33333%; }
		.column.is-8-desktop {
		flex: none;
		width: 66.66667%; }
		.column.is-offset-8-desktop {
		margin-left: 66.66667%; }
		.column.is-9-desktop {
		flex: none;
		width: 75%; }
		.column.is-offset-9-desktop {
		margin-left: 75%; }
		.column.is-10-desktop {
		flex: none;
		width: 83.33333%; }
		.column.is-offset-10-desktop {
		margin-left: 83.33333%; }
		.column.is-11-desktop {
		flex: none;
		width: 91.66667%; }
		.column.is-offset-11-desktop {
		margin-left: 91.66667%; }
		.column.is-12-desktop {
		flex: none;
		width: 100%; }
		.column.is-offset-12-desktop {
		margin-left: 100%; } }

	@media screen and (min-width: 1192px) {
		.column.is-narrow-widescreen {
		flex: none; }
		.column.is-full-widescreen {
		flex: none;
		width: 100%; }
		.column.is-three-quarters-widescreen {
		flex: none;
		width: 75%; }
		.column.is-two-thirds-widescreen {
		flex: none;
		width: 66.6666%; }
		.column.is-half-widescreen {
		flex: none;
		width: 50%; }
		.column.is-one-third-widescreen {
		flex: none;
		width: 33.3333%; }
		.column.is-one-quarter-widescreen {
		flex: none;
		width: 25%; }
		.column.is-offset-three-quarters-widescreen {
		margin-left: 75%; }
		.column.is-offset-two-thirds-widescreen {
		margin-left: 66.6666%; }
		.column.is-offset-half-widescreen {
		margin-left: 50%; }
		.column.is-offset-one-third-widescreen {
		margin-left: 33.3333%; }
		.column.is-offset-one-quarter-widescreen {
		margin-left: 25%; }
		.column.is-1-widescreen {
		flex: none;
		width: 8.33333%; }
		.column.is-offset-1-widescreen {
		margin-left: 8.33333%; }
		.column.is-2-widescreen {
		flex: none;
		width: 16.66667%; }
		.column.is-offset-2-widescreen {
		margin-left: 16.66667%; }
		.column.is-3-widescreen {
		flex: none;
		width: 25%; }
		.column.is-offset-3-widescreen {
		margin-left: 25%; }
		.column.is-4-widescreen {
		flex: none;
		width: 33.33333%; }
		.column.is-offset-4-widescreen {
		margin-left: 33.33333%; }
		.column.is-5-widescreen {
		flex: none;
		width: 41.66667%; }
		.column.is-offset-5-widescreen {
		margin-left: 41.66667%; }
		.column.is-6-widescreen {
		flex: none;
		width: 50%; }
		.column.is-offset-6-widescreen {
		margin-left: 50%; }
		.column.is-7-widescreen {
		flex: none;
		width: 58.33333%; }
		.column.is-offset-7-widescreen {
		margin-left: 58.33333%; }
		.column.is-8-widescreen {
		flex: none;
		width: 66.66667%; }
		.column.is-offset-8-widescreen {
		margin-left: 66.66667%; }
		.column.is-9-widescreen {
		flex: none;
		width: 75%; }
		.column.is-offset-9-widescreen {
		margin-left: 75%; }
		.column.is-10-widescreen {
		flex: none;
		width: 83.33333%; }
		.column.is-offset-10-widescreen {
		margin-left: 83.33333%; }
		.column.is-11-widescreen {
		flex: none;
		width: 91.66667%; }
		.column.is-offset-11-widescreen {
		margin-left: 91.66667%; }
		.column.is-12-widescreen {
		flex: none;
		width: 100%; }
		.column.is-offset-12-widescreen {
		margin-left: 100%; } }

	.columns {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
		margin-top: -0.75rem; }

	.columns:last-child {
		margin-bottom: -0.75rem; }

	.columns:not(:last-child) {
		margin-bottom: 0.75rem; }

	.columns.is-centered {
		justify-content: center; }

	.columns.is-gapless {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0; }

	.columns.is-gapless:last-child {
		margin-bottom: 0; }

	.columns.is-gapless:not(:last-child) {
		margin-bottom: 1.5rem; }

	.columns.is-gapless > .column {
		margin: 0;
		padding: 0; }

	@media screen and (min-width: 769px), print {
		.columns.is-grid {
		flex-wrap: wrap; }
		.columns.is-grid > .column {
		max-width: 33.3333%;
		padding: 0.75rem;
		width: 33.3333%; }
		.columns.is-grid > .column + .column {
		margin-left: 0; } }

	.columns.is-mobile {
		display: flex; }

	.columns.is-multiline {
		flex-wrap: wrap; }

	.columns.is-vcentered {
		align-items: center; }

	@media screen and (min-width: 769px), print {
		.columns:not(.is-desktop) {
		display: flex; } }

	@media screen and (min-width: 1000px) {
		.columns.is-desktop {
		display: flex; } }

/* container */
	.container {
		position: relative; }

	@media screen and (min-width: 1000px) {
		.container {
		margin: 0 auto;
		max-width: 960px;
		width: 960px; }
		.container.is-fluid {
		margin: 0 20px;
		max-width: none;
		width: auto; } }

	@media screen and (min-width: 1192px) {
		.container {
		max-width: 1152px;
		width: 1152px; } }

	@media screen and (min-width: 1384px) {
		.container {
		max-width: 1344px;
		width: 1344px; } }

/* section */
	.section {
		background-color: white;
		padding: 3rem 1.5rem; }

	@media screen and (min-width: 1000px) {
		.section.is-medium {
		padding: 9rem 1.5rem; }
		.section.is-large {
		padding: 18rem 1.5rem; } }

/* search, options, field, label */
	.search, .options {
		text-align: center;
		padding-bottom: 0.75rem; }

	.search .field, .search .label, .search .control, .options .field, .options .label, .options .control {
		margin-bottom: 0;
		display: inline-block; }

	.search .label, .options .label {
		font-weight: normal;
		font-size: 14pt;
		margin-right: 0.2rem;
		margin-left: 0.2rem; }

	.search {
		padding-top: 0.75rem; }

	.search .control, .search .search-result {
		width: 420px; }

	.search .field {
		position: relative; }

	.search .search-input-wrapper {
		position: relative; }

	.search .close-x {
		position: absolute;
		display: inline-block;
		right: 6px;
		top: 2px; }

	.search .close-x a {
		color: #53504D; }

	.search .close-thin:after {
		cursor: pointer;
		content: '×';
		font-size: 18px;
		line-height: 100%; }

	.search .search-result {
		z-index: 10;
		font-size: 12px;
		position: absolute;
		right: 0;
		background-color: var(--color-white);
		max-height: 300px;
		overflow-y: scroll;
		border-right: 1px solid #53504D;
		border-left: 1px solid #53504D;
		border-bottom: 1px solid #53504D;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1); }

	.search .search-result li.count, .search .search-result .item {
		max-width: 100%;
		text-align: left; }

	.search .search-result .item {
		padding: 0.6em 1em;
		border-top: 1px solid #D6D4D2; }

	.search .search-result .item i {
		font-style: normal;
		background-color: #e5e1b5; }

	.search .search-result .item-hover {
		cursor: pointer;
		background-color: #F5F3F1; }

	.search .search-result li.count {
		padding: 0.4em 1em;
		font-size: 14px;
		color: #53504D; }

	.search .search-result li.count i {
		font-style: normal;
		color: #f48876;
		font-weight: bold; }

	.options {
		padding-top: 0.75em;
		margin-bottom: 0.75em; }

/* Shelf Wrapper */
	.shelf-wrapper {
		border-right: 0px solid black;
		border-left: 0px solid black;
		overflow-x: auto; }

	.shelf-wrapper svg {
		float: left;
		background-color: rgba(255, 255, 255, 0.6); }

	.shelf-wrapper .shelf-gap {
		fill: none;
		stroke: var(--color-slate);
		stroke-width: 2.5; }

	.shelf-wrapper .book-male, .shelf-wrapper .book-female {
		stroke-width: 1;
		stroke: #53504D; }

	.shelf-wrapper .genre-Lit {
		fill: var(--color-lit); }

	.shelf-wrapper .genre-Mystery {
		fill: var(--color-mystery); }

	.shelf-wrapper .genre-Horror {
		fill: var(--color-horror); }

	.shelf-wrapper .genre-Humor {
		fill: var(--color-humor); }

	.shelf-wrapper .genre-SciFi {
		fill: var(--color-scifi); }

	.shelf-wrapper .genre-Fantasy {
		fill: var(--color-fantasy); }

	.shelf-wrapper .genre-Historical {
		fill: var(--color-historical); }

	.shelf-wrapper .genre-Memoir {
		fill: var(--color-memoir); }

	.shelf-wrapper .genre-Music {
		fill: var(--color-music); }

	.shelf-wrapper .genre-Essays {
		fill: var(--color-essays); }

	.shelf-wrapper .genre-Economics {
		fill: var(--color-economics); }

	.shelf-wrapper .genre-Western {
		fill: var(--color-western); }

	.shelf-wrapper .age-overlay {
		stroke: none;
		fill: rgba(0, 0, 0, 0.2); }

	.shelf-wrapper .favorite {
		fill: var(--color-favorite); }

	.shelf-wrapper .line-gender-Male {
		stroke: var(--color-male); }

	.shelf-wrapper .line-gender-Female {
		stroke: var(--color-female); }

	.shelf-wrapper .line-gender-NB {
		stroke: var(--color-nb); }

	.shelf-wrapper .line-gender-Male {
		stroke: var(--color-male); }

	.shelf-wrapper .line-gender-Female {
		stroke: var(--color-female); }

	.shelf-wrapper .line-gender-NB {
		stroke: var(--color-nb); }

	.shelf-wrapper .line-form-Poetry {
		stroke-dasharray: 3,3; }

	.shelf-wrapper .line-form-Drama {
		stroke-dasharray: 3,3; }

	.shelf-wrapper .legend-0 {
		fill: var(--color-slate);
		font-size: 14px; }

	.shelf-wrapper .legend-0-bg {
		fill: none; }

	.shelf-wrapper .legend-0-count {
		fill: var(--color-darkgray);
		font-size: 12px;
		alignment-baseline: central; }

	.shelf-wrapper .legend-arrow {
		fill: white;
		fill: var(--color-darkgray); }

	.shelf-wrapper .legend-1 {
		fill: var(--color-offwhite);
		font-size: 12px;
		alignment-baseline: hanging; }

	.shelf-wrapper .legend-1-bg {
		fill: var(--color-slate); 
		stroke: none;
		stroke-width: 0; }

	.shelf-wrapper .legend-1-percent {
		text-anchor: end;
		font-size: 10px;
		fill: var(--color-white); 
		transform: rotate(90deg); }

	.shelf-wrapper .legend-1-count {
		text-anchor: end;
		font-size: 12px;
		fill: var(--color-white); }

/* tippy */
	.tippy-popper {
		text-align: left; }

	.tippy-popper strong {
		font-weight: normal;
		color: var(--color-white); }

	.tippy-tooltip {
		border-radius: 5px;
		/* padding: 0.6rem 1rem; */
		color: var(--color-offwhite);
		font-family: "Raleway", "Helvetica", sans-serif;
		/* background-color: #53504D; */}

	.tippy-tooltip .bname {
		font-size: 1.25em;
	}

	.tippy-tooltip .author {
		border-top: 1px solid #918E8B;
		display: inline-block;
		padding-top: 0.2rem;
		margin-top: 0.2rem;
		font-family: "Bitter", serif; }

	.tippy-tooltip.book-Fiction-theme [x-arrow] {
		border-top-color: #91d8b6;
		border-bottom-color: #91d8b6; }

	.tippy-tooltip.book-Nonfiction-theme [x-arrow] {
		border-top-color: #f48876;
		border-bottom-color: #f48876; }

	.tippy-tooltip.book-Lit-theme {
		border: 1px solid var(--color-lit); }

	.tippy-tooltip.book-Mystery-theme {
		border: 1px solid var(--color-mystery); }

	.tippy-tooltip.book-Horror-theme {
		border: 1px solid var(--color-horror); }

	.tippy-tooltip.book-Humor-theme {
		border: 1px solid var(--color-humor); }

	.tippy-tooltip.book-SciFi-theme {
		border: 1px solid var(--color-scifi); }

	.tippy-tooltip.book-Fantasy-theme {
		border: 1px solid var(--color-fantasy); }

	.tippy-tooltip.book-Historical-theme {
		border: 1px solid var(--color-historical); }

	.tippy-tooltip.book-Memoir-theme {
		border: 1px solid var(--color-memoir); }

	.tippy-tooltip.book-Music-theme {
		border: 1px solid var(--color-music); }

	.tippy-tooltip.book-Essays-theme {
		border: 1px solid var(--color-essays); }

	.tippy-tooltip.book-Economics-theme {
		border: 1px solid var(--color-economics); }

	.tippy-tooltip.book-Western-theme {
		border: 1px solid var(--color-western); }

	.tippy-tooltip.book-Lit-theme [x-arrow] {
		border-top-color: var(--color-lit);
		border-bottom-color: var(--color-lit); }

	.tippy-tooltip.book-Mystery-theme [x-arrow] {
		border-top-color: var(--color-mystery);
		border-bottom-color: var(--color-mystery); }

	.tippy-tooltip.book-Horror-theme [x-arrow] {
		border-top-color: var(--color-horror);
		border-bottom-color: var(--color-horror); }

	.tippy-tooltip.book-Humor-theme [x-arrow] {
		border-top-color: var(--color-humor);
		border-bottom-color: var(--color-humor); }

	.tippy-tooltip.book-SciFi-theme [x-arrow] {
		border-top-color: var(--color-scifi);
		border-bottom-color: var(--color-scifi); }

	.tippy-tooltip.book-Fantasy-theme [x-arrow] {
		border-top-color: var(--color-fantasy);
		border-bottom-color: var(--color-fantasy); }

	.tippy-tooltip.book-Historical-theme [x-arrow] {
		border-top-color: var(--color-historical);
		border-bottom-color: var(--color-historical); }

	.tippy-tooltip.book-Memoir-theme [x-arrow] {
		border-top-color: var(--color-memoir);
		border-bottom-color: var(--color-memoir); }

	.tippy-tooltip.book-Music-theme [x-arrow] {
		border-top-color: var(--color-music);
		border-bottom-color: var(--color-music); }

	.tippy-tooltip.book-Essays-theme [x-arrow] {
		border-top-color: var(--color-essays);
		border-bottom-color: var(--color-essays); }

	.tippy-tooltip.book-Economics-theme [x-arrow] {
		border-top-color: var(--color-economics);
		border-bottom-color: var(--color-economics); }

	.tippy-tooltip.book-Western-theme [x-arrow] {
		border-top-color: var(--color-western);
		border-bottom-color: var(--color-western); }

/* modal */
	.modal p {
		margin: 0 0 0.2em 0;
	}
	.modal .image {
		width: 96px; }

	.modal .modal-count {
		text-align: center;
		font-size: 12px;
		color: #53504D;
		margin-top: -10px;
		padding-bottom: 20px; }

	.modal .modal-author-info {
		margin-top: 6px;
		font-size: 14px;
		color: #918E8B; }

	.tag {
		align-items: center;
		background-color: whitesmoke;
		border-radius: 290486px;
		color: #4a4a4a;
		display: inline-flex;
		font-size: 0.75rem;
		height: 2em;
		justify-content: center;
		line-height: 1.5;
		padding-left: 0.875em;
		padding-right: 0.875em;
		white-space: nowrap; }

	.modal .tag {
		color: var(--color-white); }

	.modal .tag-form {
		background-color: #3B3A38; }

	.modal .tag-favorite {
		background-color: var(--color-favorite); }

	.modal .tag-series {
		background-color: #3B3A38; }

	.modal .tag-Lit {
		background-color: var(--color-lit); }

	.modal .tag-Mystery {
		background-color: var(--color-mystery); }

	.modal .tag-Horror {
		background-color: var(--color-horror); }

	.modal .tag-Humor {
		background-color: var(--color-humor); }

	.modal .tag-SciFi {
		background-color: var(--color-scifi); }

	.modal .tag-Fantasy {
		background-color: var(--color-fantasy); }

	.modal .tag-Historical {
		background-color: var(--color-historical); }

	.modal .tag-Memoir {
		background-color: var(--color-memoir); }

	.modal .tag-Music {
		background-color: var(--color-music); }

	.modal .tag-Essays {
		background-color: var(--color-essays); }

	.modal .tag-Economics {
		background-color: var(--color-economics); }

	.modal .tag-Western {
		background-color: var(--color-western); }

	.modal .info-elm {
		margin-top: 12px;
		font-family: "Bitter", serif;
		font-size: 14px;
		color: #918E8B; }

	.modal .info {
		color: #262524; }

	.modal .modal-close {
		max-width: 48px;
		max-height: 48px; }

	.modal .modal-prev, .modal .modal-next {
		color: var(--color-white);
		position: fixed;
		height: 2em;
		top: 50%;
		margin-top: -1em;
		cursor: pointer; }

	.modal .modal-prev i, .modal .modal-next i {
		border: solid var(--color-white);
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 6px; }

	.modal .modal-prev .arrow-right, .modal .modal-next .arrow-right {
		transform: rotate(-45deg); }

	.modal .modal-prev .arrow-left, .modal .modal-next .arrow-left {
		transform: rotate(135deg); }

	.modal .modal-prev {
		padding-left: 20px;
		left: 0px; }

	.modal .modal-next {
		padding-right: 20px;
		right: 0px; }

	.modal .modal-link {
		background: url(../images/link.svg) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-left: 4px; }

	.modal .modal-bestseller-list {
		font-size: 14px;
		color: #918E8B; }

	.modal .modal-bestseller-list i {
		font-style: normal;
		color: #262524; }

	.modal .media.media-authors {
		display: block; }

	.modal .media.media-author {
		border: none;
		padding-top: 0; }

	.card-header {
		align-items: stretch;
		box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
		display: flex; }

	.card-header-title {
		align-items: center;
		color: #363636;
		display: flex;
		flex-grow: 1;
		font-weight: 700;
		padding: 0.75rem; }

	.card-header-icon {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 0.75rem; }

	.card-image {
		display: block;
		position: relative; }

	.card-content {
		padding: 1.5rem; }

	.card-footer {
		border-top: 1px solid #dbdbdb;
		align-items: stretch;
		display: flex; }

	.card-footer-item {
		align-items: center;
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: center;
		padding: 0.75rem; }

	.card-footer-item:not(:last-child) {
		border-right: 1px solid #dbdbdb; }

	.card {
		background-color: white;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		color: #4a4a4a;
		max-width: 100%;
		position: relative; }

	.card .media:not(:last-child) {
		margin-bottom: 0.75rem; }

	.modal-background {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(10, 10, 10, 0.86); }

	.modal-content,
	.modal-card {
		margin: 0 20px;
		max-height: calc(100vh - 160px);
		overflow: auto;
		position: relative;
		width: 100%;
		font-family: "Raleway", "Helvetica", sans-serif; }

	@media screen and (min-width: 769px), print {
		.modal-content,
		.modal-card {
		margin: 0 auto;
		max-height: calc(100vh - 40px);
		width: 400px; } }

	.modal-close {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background-color: rgba(10, 10, 10, 0.2);
		border: none;
		border-radius: 290486px;
		cursor: pointer;
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 1rem;
		height: 20px;
		max-height: 20px;
		max-width: 20px;
		min-height: 20px;
		min-width: 20px;
		outline: none;
		position: relative;
		vertical-align: top;
		width: 20px;
		background: none;
		height: 40px;
		position: fixed;
		right: 20px;
		top: 20px;
		width: 40px; }

	.modal-close:before, .modal-close:after {
		background-color: white;
		content: "";
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform-origin: center center; }

	.modal-close:before {
		height: 2px;
		width: 25%; }

	.modal-close:after {
		height: 50%;
		width: 2px; } 

	.modal-close:hover, .modal-close:focus {
		background-color: rgba(10, 10, 10, 0.3); }

	.modal-close:active {
		background-color: rgba(10, 10, 10, 0.4); }

	.modal-close.is-small {
		height: 16px;
		width: 16px; }

	.modal-close.is-medium {
		height: 24px;
		width: 24px; }

	.modal-close.is-large {
		height: 32px;
		width: 32px; }

	.modal-card {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - 40px);
		overflow: hidden; }

	.modal-card-head,
	.modal-card-foot {
		align-items: center;
		background-color: whitesmoke;
		display: flex;
		flex-shrink: 0;
		justify-content: flex-start;
		padding: 20px;
		position: relative; }

	.modal-card-head {
		border-bottom: 1px solid #dbdbdb;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px; }

	.modal-card-title {
		color: #363636;
		flex-grow: 1;
		flex-shrink: 0;
		font-size: 1.5rem;
		line-height: 1; }

	.modal-card-foot {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top: 1px solid #dbdbdb; }

	.modal-card-foot .button:not(:last-child) {
		margin-right: 10px; }

	.modal-card-body {
		-webkit-overflow-scrolling: touch;
		background-color: white;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
		padding: 20px; }

	.modal {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		align-items: center;
		display: none;
		justify-content: center;
		overflow: hidden;
		position: fixed;
		z-index: 20; }

	.modal.is-active {
		display: flex; }

/* content (incd legend) */
	.content {
		margin-bottom: 0 !important;
		background-color: rgba(0, 0, 0, 0.4);}

	.content .section {
		background-color: transparent; }

	.content .legend:not(:last-child) {
		border-right: 1px solid #E4E2E0; }

	.content .legend ul {
		margin-bottom: 1rem;
		font-size: 14px; 
		color: var(--color-white); }

	.content .legend ul li {
		list-style: circle; }

	.content a {
		color: #262524;
		text-decoration: underline; }

	.content i {
		font-style: normal;
		background-color: #e5e1b5; }

	.content i.fiction {
		background-color: #91d8b6;
		color: var(--color-white); }

	.content i.nonfiction {
		background-color: #f48876;
		color: var(--color-white); }

/* title and subtitle */
	.title,
	.subtitle {
		word-break: break-word; }

	.title:not(:last-child),
	.subtitle:not(:last-child) {
		margin-bottom: 1.5rem; }

	.title em,
	.title span,
	.subtitle em,
	.subtitle span {
		font-weight: 300; }

	.title strong,
	.subtitle strong {
		font-weight: 500; }

	.title .tag,
	.subtitle .tag {
		vertical-align: middle; }

	.title {
		color: #363636;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1.125; }

	.title strong {
		color: inherit; }

	.title + .highlight {
		margin-top: -0.75rem; }

	.title:not(.is-spaced) + .subtitle {
		margin-top: -1.5rem; }

	.title.is-1 {
		font-size: 3rem; }

	.title.is-2 {
		font-size: 2.5rem; }

	.title.is-3 {
		font-size: 2rem; }

	.title.is-4 {
		font-size: 1.5rem; }

	.title.is-5 {
		font-size: 1.25rem; }

	.title.is-6 {
		font-size: 1rem; }

	.subtitle {
		color: #4a4a4a;
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 1.25; }

	.subtitle strong {
		color: #363636; }

	.subtitle:not(.is-spaced) + .title {
		margin-top: -1.5rem; }

	.subtitle.is-1 {
		font-size: 3rem; }

	.subtitle.is-2 {
		font-size: 2.5rem; }

	.subtitle.is-3 {
		font-size: 2rem; }

	.subtitle.is-4 {
		font-size: 1.5rem; }

	.subtitle.is-5 {
		font-size: 1.25rem; }

	.subtitle.is-6 {
		font-size: 1rem; }

/* media screen */
	@media screen and (max-width: 768px) {
		.control {
		width: 80% !important;
		text-align: center;
		margin: 0 auto; }
		.search-result {
		width: 80% !important;
		right: 10% !important; }
		.field, .label {
		display: block !important;
		text-align: center; }
		.modal-prev {
		padding-left: 6px !important; }
		.modal-next {
		padding-right: 6px !important; }
		.legend {
		border-right: none !important; }
		.legend img {
		max-width: 320px; } }

	@media screen and (max-width: 1023px) {
		.legend {
		border-right: none !important; } }

/* footer */
	.footer {
		color: #918E8B;
		background-color: rgba(0, 0, 0, 0.6);
		color: var(--color-white); 
		font-size: 10pt}

	.footer p {
		line-height: 200%; }

	.footer a {
		color: #e5e1b5; }

	.footer .share {
		display: flex;
		align-items: center; }

	.footer .share span {
		width: 2.2rem;
		height: 2.2rem; }
