/* Shelf Wrapper */
	.shelf-wrapper {
		border-right: 0px solid black;
		border-left: 0px solid black;
		overflow-x: auto;
		 }

	.shelf-wrapper svg {
		float: left;
		background-color: rgba(255, 255, 255, 0.6); }

	.shelf-wrapper .shelf-gap {
		fill: none;
		stroke: var(--color-slate);
		stroke-width: 2.5;
		}

	.shelf-wrapper .book-male, .shelf-wrapper .book-female {
		stroke-width: 1;
		stroke: #53504D; }

	.shelf-wrapper .genre-Lit {
		fill: var(--color-lit); }

	.shelf-wrapper .genre-Mystery {
		fill: var(--color-mystery); }

	.shelf-wrapper .genre-Horror {
		fill: var(--color-horror); }

	.shelf-wrapper .genre-Humor {
		fill: var(--color-humor); }

	.shelf-wrapper .genre-SciFi {
		fill: var(--color-scifi); }

	.shelf-wrapper .genre-Fantasy {
		fill: var(--color-fantasy); }

	.shelf-wrapper .genre-Historical {
		fill: var(--color-historical); }

	.shelf-wrapper .genre-Memoir {
		fill: var(--color-memoir); }

	.shelf-wrapper .genre-Music {
		fill: var(--color-music); }

	.shelf-wrapper .genre-Essays {
		fill: var(--color-essays); }

	.shelf-wrapper .genre-Economics {
		fill: var(--color-economics); }

	.shelf-wrapper .genre-Western {
		fill: var(--color-western); }

	.shelf-wrapper .age-overlay {
		stroke: none;
		fill: rgba(0, 0, 0, 0.2); }

	.shelf-wrapper .favorite {
		fill: var(--color-favorite); }

	.shelf-wrapper .line-gender-Male {
		stroke: var(--color-male); }

	.shelf-wrapper .line-gender-Female {
		stroke: var(--color-female); }

	.shelf-wrapper .line-gender-NB {
		stroke: var(--color-nb); }

	.shelf-wrapper .line-gender-Male {
		stroke: var(--color-male); }

	.shelf-wrapper .line-gender-Female {
		stroke: var(--color-female); }

	.shelf-wrapper .line-gender-NB {
		stroke: var(--color-nb); }

	.shelf-wrapper .line-form-Poetry {
		stroke-dasharray: 3,3; }

	.shelf-wrapper .line-form-Drama {
		stroke-dasharray: 3,3; }

	.shelf-wrapper .legend-0 {
		fill: var(--color-slate);
		font-size: 14px; }

	.shelf-wrapper .legend-0-bg {
		fill: none; }

	.shelf-wrapper .legend-0-count {
		fill: var(--color-darkgray);
		font-size: 12px;
		alignment-baseline: central; }

	.shelf-wrapper .legend-arrow {
		fill: white;
		fill: var(--color-darkgray); }

	.shelf-wrapper .legend-1 {
		fill: var(--color-offwhite);
		font-size: 12px;
		alignment-baseline: hanging; }

	.shelf-wrapper .legend-1-bg {
		fill: var(--color-slate); 
		stroke: none;
		stroke-width: 0; }

	.shelf-wrapper .legend-1-percent {
		text-anchor: end;
		font-size: 10px;
		fill: var(--color-white); 
		transform: rotate(90deg); }

	.shelf-wrapper .legend-1-count {
		text-anchor: end;
		font-size: 12px;
		fill: var(--color-white); }

/* tippy */
	.tippy-popper {
		text-align: left; }

	.tippy-popper strong {
		font-weight: normal;
		color: var(--color-white); }

	.tippy-tooltip {
		border-radius: 5px;
		/* padding: 0.6rem 1rem; */
		color: var(--color-offwhite);
		/* background-color: #53504D; */}

	.tippy-tooltip .author {
		border-top: 1px solid #918E8B;
		display: inline-block;
		padding-top: 0.2rem;
		margin-top: 0.2rem; }

	.tippy-tooltip.book-Fiction-theme [x-arrow] {
		border-top-color: #91d8b6;
		border-bottom-color: #91d8b6; }

	.tippy-tooltip.book-Nonfiction-theme [x-arrow] {
		border-top-color: #f48876;
		border-bottom-color: #f48876; }

	.tippy-tooltip.book-Lit-theme {
		border: 1px solid var(--color-lit); }

	.tippy-tooltip.book-Mystery-theme {
		border: 1px solid var(--color-mystery); }

	.tippy-tooltip.book-Horror-theme {
		border: 1px solid var(--color-horror); }

	.tippy-tooltip.book-Humor-theme {
		border: 1px solid var(--color-humor); }

	.tippy-tooltip.book-SciFi-theme {
		border: 1px solid var(--color-scifi); }

	.tippy-tooltip.book-Fantasy-theme {
		border: 1px solid var(--color-fantasy); }

	.tippy-tooltip.book-Historical-theme {
		border: 1px solid var(--color-historical); }

	.tippy-tooltip.book-Memoir-theme {
		border: 1px solid var(--color-memoir); }

	.tippy-tooltip.book-Music-theme {
		border: 1px solid var(--color-music); }

	.tippy-tooltip.book-Essays-theme {
		border: 1px solid var(--color-essays); }

	.tippy-tooltip.book-Economics-theme {
		border: 1px solid var(--color-economics); }

	.tippy-tooltip.book-Western-theme {
		border: 1px solid var(--color-western); }

	.tippy-tooltip.book-Lit-theme [x-arrow] {
		border-top-color: var(--color-lit);
		border-bottom-color: var(--color-lit); }

	.tippy-tooltip.book-Mystery-theme [x-arrow] {
		border-top-color: var(--color-mystery);
		border-bottom-color: var(--color-mystery); }

	.tippy-tooltip.book-Horror-theme [x-arrow] {
		border-top-color: var(--color-horror);
		border-bottom-color: var(--color-horror); }

	.tippy-tooltip.book-Humor-theme [x-arrow] {
		border-top-color: var(--color-humor);
		border-bottom-color: var(--color-humor); }

	.tippy-tooltip.book-SciFi-theme [x-arrow] {
		border-top-color: var(--color-scifi);
		border-bottom-color: var(--color-scifi); }

	.tippy-tooltip.book-Fantasy-theme [x-arrow] {
		border-top-color: var(--color-fantasy);
		border-bottom-color: var(--color-fantasy); }

	.tippy-tooltip.book-Historical-theme [x-arrow] {
		border-top-color: var(--color-historical);
		border-bottom-color: var(--color-historical); }

	.tippy-tooltip.book-Memoir-theme [x-arrow] {
		border-top-color: var(--color-memoir);
		border-bottom-color: var(--color-memoir); }

	.tippy-tooltip.book-Music-theme [x-arrow] {
		border-top-color: var(--color-music);
		border-bottom-color: var(--color-music); }

	.tippy-tooltip.book-Essays-theme [x-arrow] {
		border-top-color: var(--color-essays);
		border-bottom-color: var(--color-essays); }

	.tippy-tooltip.book-Economics-theme [x-arrow] {
		border-top-color: var(--color-economics);
		border-bottom-color: var(--color-economics); }

	.tippy-tooltip.book-Western-theme [x-arrow] {
		border-top-color: var(--color-western);
		border-bottom-color: var(--color-western); }

/* modal */
	.modal .image {
		width: 96px; }

	.modal .modal-count {
		text-align: center;
		font-size: 12px;
		color: #53504D;
		margin-top: -10px;
		padding-bottom: 20px; }

	.modal .modal-author-info {
		margin-top: 6px;
		font-size: 14px;
		color: #918E8B; }

	.modal .tag {
		color: var(--color-white); }

	.modal .tag-form {
		background-color: #3B3A38; }

	.modal .tag-favorite {
		background-color: var(--color-favorite); }

	.modal .tag-series {
		background-color: #3B3A38; }

	.modal .tag-Lit {
		background-color: var(--color-lit); }

	.modal .tag-Mystery {
		background-color: var(--color-mystery); }

	.modal .tag-Horror {
		background-color: var(--color-horror); }

	.modal .tag-Humor {
		background-color: var(--color-humor); }

	.modal .tag-SciFi {
		background-color: var(--color-scifi); }

	.modal .tag-Fantasy {
		background-color: var(--color-fantasy); }

	.modal .tag-Historical {
		background-color: var(--color-historical); }

	.modal .tag-Memoir {
		background-color: var(--color-memoir); }

	.modal .tag-Music {
		background-color: var(--color-music); }

	.modal .tag-Essays {
		background-color: var(--color-essays); }

	.modal .tag-Economics {
		background-color: var(--color-economics); }

	.modal .tag-Western {
		background-color: var(--color-western); }


	.modal .info-elm {
		margin-top: 12px;
		font-size: 14px;
		color: #918E8B; }

	.modal .info {
		color: #262524; }

	.modal .modal-close {
		max-width: 48px;
		max-height: 48px; }

	.modal .modal-prev, .modal .modal-next {
		color: var(--color-white);
		position: fixed;
		height: 2em;
		top: 50%;
		margin-top: -1em;
		cursor: pointer; }

	.modal .modal-prev i, .modal .modal-next i {
		border: solid var(--color-white);
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 6px; }

	.modal .modal-prev .arrow-right, .modal .modal-next .arrow-right {
		transform: rotate(-45deg); }

	.modal .modal-prev .arrow-left, .modal .modal-next .arrow-left {
		transform: rotate(135deg); }

	.modal .modal-prev {
		padding-left: 20px;
		left: 0px; }

	.modal .modal-next {
		padding-right: 20px;
		right: 0px; }

	.modal .modal-link {
		background: url(../images/link.svg) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-left: 4px; }

	.modal .modal-bestseller-list {
		font-size: 14px;
		color: #918E8B; }

	.modal .modal-bestseller-list i {
		font-style: normal;
		color: #262524; }

	.modal .media.media-authors {
		display: block; }

	.modal .media.media-author {
		border: none;
		padding-top: 0; }

/* content (incd legend) */
	.content {
		margin-bottom: 0 !important;
		background-color: rgba(0, 0, 0, 0.4);}

	.content .section {
		background-color: transparent; }

	.content .legend:not(:last-child) {
		border-right: 1px solid #E4E2E0; }

	.content .legend ul {
		margin-bottom: 1rem;
		font-size: 14px; }

	.content .legend ul li {
		list-style: circle; }

	.content a {
		color: #262524;
		text-decoration: underline; }

	.content i {
		font-style: normal;
		background-color: #e5e1b5; }

	.content i.fiction {
		background-color: #91d8b6;
		color: var(--color-white); }

	.content i.nonfiction {
		background-color: #f48876;
		color: var(--color-white); }

/* media screen */
	@media screen and (max-width: 768px) {
		.control {
		width: 80% !important;
		text-align: center;
		margin: 0 auto; }
		.search-result {
		width: 80% !important;
		right: 10% !important; }
		.field, .label {
		display: block !important;
		text-align: center; }
		.modal-prev {
		padding-left: 6px !important; }
		.modal-next {
		padding-right: 6px !important; }
		.legend {
		border-right: none !important; }
		.legend img {
		max-width: 320px; } }

	@media screen and (max-width: 1023px) {
		.legend {
		border-right: none !important; } }

/* footer */
	.footer {
		color: #918E8B;
		background-color: rgba(0, 0, 0, 0.6);
		color: var(--color-white); }

	.footer p {
		line-height: 200%; }

	.footer a {
		color: #e5e1b5; }

	.footer .share {
		display: flex;
		align-items: center; }

	.footer .share span {
		width: 2.2rem;
		height: 2.2rem; }
