:root {
	--color-white: #FFFFFF;
	--color-offwhite: #DDDDDD;
	--color-slate: #313A3D;
	--color-lightgray: #6F7577;
	--color-darkgray: #61686B;
	--color-mint: #8CD1A8;
	--color-lit: #92140C;
	--color-mystery: #926EBC;
	--color-horror: #4B4A67;
	--color-humor: #AD471E;/*#C7832B;*/
	--color-scifi: #6AAF8D;
	--color-fantasy: #345830;
	--color-historical: #BD6D27;/*#895B1E;*/
	--color-biography: #0E4159; /*#0B1D51;*/
	--color-math-and-science:  #275E71;
	--color-music: #429195;/*#048BA8;*/
	--color-essays: #353A47;
	--color-economics: #343A1A;
	--color-philosophy: #4A3554;
	--color-western: #6F1A07;
	--color-favorite: #E29F37;/*#EEB902;*/
	--color-male: #6699CC;
	--color-female: #F48876;
	--color-nb: #D6D4D2;
	--color-buttermint: #9BC8B7;
	--color-dark-teal: #275E71;
	--color-teal: #429195;
	--color-goldenrod: #E29F37;
	--color-cream: #E6D8AC;
	--color-brick: #AD471E;
	--color-tangarine: #BD6D27;
}