/* Grid */
	.ag-header-cell {
	    font-size: 18px;
	    font-family: 'Raleway', 'Helvetica', sans-serif;
	    font-weight: 100;
	    padding: 5px 3px; 
		text-align: center; 
		white-space: normal;
    	word-wrap: break-word; }

	.ag-cell {
	    font-size: 10px;
	    font-family: 'Bitter', sans-serif;
	    padding: 1px 1px;
	    line-height: 1.1;
	    white-space: normal;
    	word-wrap: break-word;
    	text-align: center;
    	display: flex;
    	justify-content: center;
    	align-items: center; }

	.ag-cell[col-id='game'] {
	    font-size: 14px;
	    font-family: 'Raleway', 'Helvetica', sans-serif;
	    font-weight: 100; }

	.ag-header-cell[col-id='game'],
	.ag-cell[col-id='game'] {
	    min-width: 180px;
	    text-align: left;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center; }

	.ag-cell[col-id='mechanics'], 
	.ag-cell[col-id='theme'], 
	.ag-cell[col-id='players'], 
	.ag-cell[col-id='expansion'], 
	.ag-cell[col-id='co-op'], 
	.ag-cell[col-id='legacy'], 
	.ag-cell[col-id='favorite'], 
	.ag-cell[col-id='play_more'] {
	   	text-align: center ;
	    display: flex;
	    justify-content: center;
	    align-items: center; }

	.ag-cell[col-id='mechanics_rating'], 
	.ag-cell[col-id='theme_rating'], 
	.ag-cell[col-id='time'],
	.ag-cell[col-id='learning_complexity'], 
	.ag-cell[col-id='playing_complexity'] {
		text-align: left;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center; }

/* container */
	.container {
		position: relative; }

	@media screen and (min-width: 1000px) {
		.container {
		margin: 0 auto;
		max-width: 960px;
		width: 960px; }
		.container.is-fluid {
		margin: 0 20px;
		max-width: none;
		width: auto; } 
		#gamesGrid {
	        overflow-x: auto;         /* Enable horizontal scrolling */
	        -webkit-overflow-scrolling: touch;  /* Smooth scrolling for touch devices */
	        max-width: 100%;          /* Ensure it doesn’t exceed the container’s width */
	    }
	    /* Optional: Style the scrollbar for better visibility */
	    #gamesGrid::-webkit-scrollbar {
	        height: 8px;
	    }
	    #gamesGrid::-webkit-scrollbar-thumb {
	        background-color: darkgrey;
	        border-radius: 4px;
	    }
	    #gamesGrid::-webkit-scrollbar-track {
	        background-color: #f1f1f1;
	    }}

	@media screen and (min-width: 1192px) {
		.container {
		max-width: 1152px;
		width: 1152px; } }

	@media screen and (min-width: 1384px) {
		.container {
		max-width: 1344px;
		width: 1344px; } }

/* footer */
	.footer {
		color: #918E8B;
		background-color: rgba(0, 0, 0, 0.6);
		color: var(--color-white); 
		font-size: 10pt;
		padding-left: 10px;
	}

	.footer p {
		line-height: 200%; }

	.footer a {
		color: #e5e1b5; }

	.footer .share {
		display: flex;
		align-items: center; }

	.footer .share span {
		width: 2.2rem;
		height: 2.2rem; }
