body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gates {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.gate {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.left-gate {
    left: 0;
    transform: translateX(0);
}

.right-gate {
    right: 0;
    transform: translateX(0);
    transform: rotateY(180deg);
}

.lock {
    position: absolute;
    height: 10vh; /* Dynamic size: 10% of viewport height */
    width: auto; /* Maintain aspect ratio */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to truly center */
}

.message {
    top: 30px;
    text-align: center;
    pointer-events: auto; /* Allow pointer events */
    display: none;
}

.part {
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease; /* Fade effect */
    display: inline;
}

.lyric {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    color: #c0a6df;
    font-size: 2rem;
}

.title {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--color-offwhite);
    font-size: 3rem;
}

.info {
    font-family: "Bitter", serif;
    font-weight: 100;
    font-style: normal;
    color: var(--color-offwhite);
    font-size: 1rem;
}

.rsvp {
    z-index: 666;
}