body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: auto;
    min-height:  100vh;
    background-image: none !important;
    background-color: var(--color-cream);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.grain {
    position: absolute;
    background: url("images/noise.svg");
    width:  100%;
    height: 100%;
    top:  0;
    left:  0;
    pointer-events: none;
}

.message {
    top: 30px;
    background-color: var(--color-fantasy);
}

.poem {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: left;
    font-size: 1rem;
    line-height: 0.5rem;
}

.title {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: right;
    font-size: 2rem;
    line-height: 1rem;
}

.info {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: var(--color-cream);
    font-size: 1rem;
    line-height: 0.5rem;
}

.rsvp {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: var(--color-cream);
    font-size: 1rem;
    line-height: 0.5rem;
}

.star {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: italic;
    color: var(--color-cream);
    font-size: 0.5rem;
}