body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: auto;
    min-height:  100vh;
    background-image: none !important;
    background-color: var(--color-cream);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.message {
    width: min(600px, 80%);
    background-color: var(--color-fantasy);
    padding: 20px;
}

.poem {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: left;
    font-size: 1rem;
    line-height: 0.25rem;
}

.title {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: right;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 60px;
}

.info {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: var(--color-cream);
    font-size: 1rem;
}

.rsvp {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: var(--color-cream);
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: italic;
    color: var(--color-cream);
    font-size: 0.5rem;
}