body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: auto;
    min-height:  100vh;
    background-image: none !important;
    background-color: var(--color-cream);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.grain {
    background: url("images/noise.svg");
}

.message {
    top: 30px;
    background-color: var(--color-fantasy);
    pointer-events: auto; /* Allow pointer events */
}

.part {
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease; /* Fade effect */
    display: inline;
}

.poem {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: left;
    font-size: 2rem;
}

.title {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cream);
    text-align: center;
    font-size: 3rem;
}

.info {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--color-cream);
    font-size: 1rem;
}

.rsvp {
    z-index: 666;
    font-family: "Bitter", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
}